@import url('/general.css');

.form__container{
  height: calc(100vh - 5rem);
  text-align: center;
}

.box__form{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  height: 75vh;
  width: 65%;
}

.form-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}

.form-input {
  text-align: left;
  width: 40%;
}

.form-input input{
  width: 100%;
}

.form-input select{
  width: 100%;
}


.form-row-checkbox{
  display: flex;
  margin: 0 4rem;
  text-align: left;
}

.form__checkbox-h4{
  width: 30%;
}

.form__checkbox-list{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

.form__checkbox-label {
  margin-left: 0.5rem;
}

.form__checkbox-item{
  margin: 0 1rem;
  width: 30%;
}

.form__checkbox-item input{
  height: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

.form-input-textarea{
    width: 100%;
}

#description{
  width: 95%;
  justify-content: left;
  margin-left: 3rem;
}

.text-area{
  margin-top: 1rem;
}

#button{
  justify-content: right;
}

#button button{
  margin-right: 1.2rem !important;
}

.textarea-container{
  width: 95%;

}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  margin-left: 0.5rem;

}

@media (max-width: 700px){
  .form{
    height: auto;
  }

  .form-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
  }

  .form-input {
    width: 95%;
    margin-bottom: 1rem;

  }

  .form-row-checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
  }

  .form__checkbox-list{
    width: 100%;

  }

  #description{
    margin-left: 0;
  }

}