@import url('/general.css');

.form__container{
  height: calc(100vh - 5rem);
  text-align: center;
}

.box__form{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  width: 85%;
}


.form-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0rem;
  margin-left: -0.5rem;
}


.form-input {
  text-align: left;
  width: 25%;
}

.form-input input{
  width: 100%;
}

.form-input select{
  width: 105%;
}

.form-row-checkbox{
  display: flex;
  margin: 0 4rem;
  text-align: left;
}

.form__checkbox-h4{
  width: 10%;
}

.form__checkbox-list{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 2rem;
}


.form__checkbox-label {
  margin-left: 0.5rem;
}

.form__checkbox-item{
  margin: 0 1rem;
  width: 35%;
}

.form__checkbox-item input{
  height: 1rem;
  width: 1rem;
}

#id_package{
  width: 27%;
}

#extras{
  width: 65%;
}

#button{
  justify-content: right;
}


@media (max-width: 700px){
  .form{
    height: auto;
  }

  .form-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
  }

  .form-input {
    width: 95%;
    margin-bottom: 1rem;

  }

  .form-row-checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
  }

  .form__checkbox-list{
    width: 100%;
    margin-bottom: 1rem;

  }

  #id_package{
    width: 95%;
  }

  #extras{
    width: 95%;
  }


  #description{
    margin-left: 0;
  }

  #button{
    margin-top: 1rem;
    justify-content: center;
  }

}