@import url('../../general.css');
@import url('../../css/nav.css');


.form__container{
  margin-top: 4rem;
  height: calc(100vh - 8rem);
  text-align: center;
}

.box__form{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  width: 65%;
}

.form-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}

.form-input {
  text-align: left;
  width: 40%;
}

.form-input input{
  width: 100%;
}


.form-input-textarea{
    width: 100%;
}

#description{
  width: 95%;
  margin-left: 1rem;
}

.text-area{
  margin-top: 1rem;
}

#button{
  justify-content: right;
}

#button button{
  margin-right: 1.5rem !important;
  width: 300px;
}

.textarea-container{
  width: 95%;

}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  margin-left: 0.5rem;
  padding: 2rem;

}

@media (max-width: 700px){
  .form{
    height: auto;
  }

  .form-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
  }

  .form-input {
    width: 95%;
    margin-bottom: 1rem;

  }

  .form-row-checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
  }

  .form__checkbox-list{
    width: 100%;

  }

  #description{
    margin-left: 0;
  }

}