
/* Package */

.card__contianer-package {
  width: 360px;
  margin-top: 2rem;

}

.card__header-package{
  display: flex;
  height: 10%;
  
}

.card__header-title{
  width: 75%;
}

.card__header-actions{
  width: 25%;
  text-align: right;
}

.card__body {
  margin-bottom: 1rem;
}

.card__body h1 {
  font-size: var(--extra-large-text);
  text-align: left;
  margin: 2rem 0;
}

.list-package{
  margin: 1rem;
}
.list-package li{
  margin: 1rem;
}

.card__button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.list-package li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.card__body-description{
  margin-top: 2rem;
}


#delete_package:before{
  content: "\f1f8"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

#update_package:before{
  content: "\f044"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 1.5rem;
}
