* {
  margin: 0;
  padding: 0;
}

body {
  /* d */
  margin: 0;
  padding: 30px;
  font-size: 16px;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-weight: 200;

}

ul{
  list-style-type: none;
}

:root {
  /* colors */
  --primary-color: #007CC7;
  --secondary-color: #4DA8DA; 
  --dark-color: #12232E;
  --shadow-dark-blue: #203647;
  --shadow-light-blue: #EEFBFB;
  /* fonts */
  --main-font: sanst-serif;
  --small-text: 12px;
  --normal-text: 16px;
  --large-text: 32px;
  --extra-large-text : 48px;
  --normal-weight: 400;
  --bold--weight: 700;

}



.button-primary{
  font-size: var(--normal-text);
  font-weight: var(--bold--weight);
  width: 250px;
  height: 50px;
  color: white;
  background: var(--primary-color);
  border-radius: 0.25rem;
  border-color: var(--shadow-dark-blue);
  cursor: pointer;
  
}

.button-secondary{
  font-size: var(--normal-text);
  font-weight: var(--bold--weight);
  width: 250px;
  height: 50px;
  color: var(--primary-color);
  background:  white;
  border-radius: 0.25rem;
  border-radius: 0.25rem;
  border-color: var(--primary-color);
  cursor: pointer;
}

.button-secondary:hover {
  color: white;
  background: var(--primary-color);
}

/* CARD PACAGKE */
.card{
  /* border: 0.125rem solid var(--shadow-dark-blue); */
  border-radius: 0.5rem;
  box-shadow: 0 0 1.5rem #ccc;
  padding: 2rem;
}

input{
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin-top: 0.75rem;
}

input:focus{
  outline: none !important;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

label{
  font-weight: 700;
}

select {
  height: 2.55rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin-top: 0.75rem;
  background: white;
}

select:focus {
  outline: none !important;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
