@import url('/general.css');


/* Package */

.card__contianer-package {
  width: 360px;
  height: 500px;

}

.card__header-package{
  display: flex;
  height: 10%;
  
}

.card__header-title{
  width: 75%;
}

.card__header-actions{
  width: 25%;
  text-align: right;
}

.card__body {
  height: 70%;
  margin-bottom: 1rem;
}

.card__body h1 {
  font-size: var(--extra-large-text);
}

.list-package{
  margin: 1rem;
}
.list-package li{
  margin: 1rem;
}

.card__button{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-package li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.card__body-description{
  margin-top: 2rem;
}


#delete_package:before{
  content: "\f1f8"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

#update_package::before{
  content: "\f044"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 1.5rem;
}


/* CARD RESERVAS */

.card__image{
  width: 100%;
  height: 200px;
}

.card__image img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__reserve{
  padding: 0 ;
  width: 300px;
  height: 650px;
}


.card__image img{
  width: 100%;
  height: 100%;
}

.card__body-reserve {
  height: 75%;
  padding: 2rem;
}

.card__body-head{
  height: 15%;
}

.checkbox{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox-row{
  width: 50%;
  margin-top: 1rem;
}
