@import url('../../general.css');

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  z-index: 1;
  height: 4rem;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #EEFBFB;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  height: 3.5rem;
  /* width: 20px; */
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  height: 100%;
  /* width: 100%; */
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 122px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: var(--shadow-light-blue);
  /* color: var(--dark-color); */

  font-weight: bold;
  padding: 0.2rem 0;
  width: 10rem;

}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #007CC7;
  background: #EEFBFB;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #EEFBFB;
  background:#203647;
  border: none;
}


/* mobile */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}
.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.open {
    display: block !important;
}
.toggle-button{
  display: none;
}


/* START YOUR CODE HERE */


main{
  margin-top: 5rem;
}



@media (max-width: 1000px) {
  .main-nav__item {
    display: none;
  }
  .main-header__brand{
    display: none;
  }
  .main-nav__item--cta{
    display: block;
  }
  .toggle-button{
    display: inline-block;
  }
  .mobile-nav__item a {
    color: black;
  }
  .mobile-button a {
    color: var(--shadow-light-blue);
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

}

