@import url('../style.css');
@import url('../../general.css');

body{
  display: flex;
  margin: 0;
  padding: 0;
}

.form-login-container{
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card__container-login{
  width: 400px;
  height: 700px;
  text-align: center;
}

.img-login{
  width: 60%;
  height: 100vh;
  background-image: url('../../img/login1.jpeg');
}

.form-login{
  text-align: left;
}

.form-input {
  margin: 1.5rem;
}

.form-label {
  font-weight: 700;
}

.form-input input{
  margin-top: 1rem;
  width: 100%;
}

.form-input input:focus{
  outline: none !important;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.form-button{
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

input{
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem
}


@media (max-width: 700px){
  .img-login {
    display: none;
  }

  .form-login-container{
    width: 100%;
  }

}