@import url('../../../../general.css');
@import url('../../../../componets.css');




/* START YOUR CODE HERE */


main{
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  height: 45vh;
  padding: 2rem;
}


.card-information{
  width: 35%;
  height: 100px;
  border: 1px solid;
  display: flex;
}

.card-information:nth-child(odd){
  background: var(--primary-color);
  color: white;
}

.card-information:nth-child(even){
  background: var(--secondary-color);
  color: white;

}

.card-information h1{
  margin-top: 2rem;
}

.information-card{
  width: 60%;
}

.icon-card{
  width: 30%;
  text-align: right;
  margin-left: 2rem;
}


#total-icon:before{
  content: "\f155"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 5.5rem;
  margin-right: 0.25rem;
  margin: 0.55rem 1rem 0;
}


#customers-icon:before{
  content: "\f0c0"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 5.5rem;
  margin-right: 0.25rem;
  margin: 0.55rem 1rem 0;
}


#rooms-icon:before{
  content: "\f1ad"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 5.5rem;
  margin-right: 0.25rem;
  margin: 0.55rem 1rem 0;
}


#book-icon:before{
  content: "\f02d"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 5.5rem;
  margin-right: 0.25rem;
  margin: 0.55rem 1rem 0;
}


@media (max-width: 600px) {
  .card-information{
    width: 90%;
    height: 100px;
    border: 1px solid;
    display: flex;
    margin: 1rem 0;
  }

}

