/* MODAL */

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: left;
  margin: 0 0 1rem 0;
}

.modal__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

#form-modal{
  height: 100px;
}

.form-label{
  margin-top: 1rem;

}

.form-input{
  margin: 2rem 1rem 0
}

.form-input select{
  width: 100%;
}

.header-modal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-modal .button-secondary{
  width: 3rem;
  height: 3rem;
}

.open {
  display: block !important;
}
