@import url('../../general.css');
@import url('../../componets.css');

/* START YOUR CODE HERE */

main{
  margin-top: 5rem;
}

h1{
  text-align: center;
}

.filter{
  text-align: right;
  margin-bottom: 2rem;

  
}
.filter select{
  width: 300px;
}

.table-container{
  display: flex;
  justify-content: center;
}



@media (max-width: 1000px) {
  .main-nav__item {
    display: none;
  }
  .main-header__brand{
    display: none;
  }
  .main-nav__item--cta{
    display: block;
  }
  .toggle-button{
    display: inline-block;
  }
  .mobile-nav__item a {
    color: black;
  }
  .mobile-button a {
    color: var(--shadow-light-blue);
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }

}

