@import url('../../general.css');
@import url('../../css/nav.css');


.a_link{
  background-color: var(--primary-color);
  color: white;
  font-weight: 900;
  font-size: large;
  text-decoration: none;
  padding: 0.25rem;
}

.reservation__contianer h1{
  text-align: center;
}

.reservation__contianer section{
  text-align: right;
  margin-bottom: 2rem;
}

.form__container{
  height: calc(100vh - 5rem);
  text-align: center;
  margin-top: 4rem;
}

.box__form{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form {
  width: 85%;
}


.form-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0rem;
  margin-left: -0.5rem;
}


.form-input {
  text-align: left;
  width: 25%;
}

.form-input input{
  width: 100%;
}

.form-input select{
  width: 105%;
}

.form-row-checkbox{
  display: flex;
  margin: 0 4rem;
  text-align: left;
}

.form__checkbox-h4{
  width: 10%;
}

.form__checkbox-list{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 2rem;
}


.form__checkbox-label {
  margin-left: 0.5rem;
}

.form__checkbox-item{
  margin: 0 1rem;
  width: 35%;
}

.form__checkbox-item input{
  height: 1rem;
  width: 1rem;
}

#id_package{
  width: 27%;
}

#extras{
  width: 65%;
}

#button{
  justify-content: right;
}


/* Rooms section */

.rooms__container{
  padding: 2rem;
  
}

.filter-month{
  text-align: left;
}

.filter-month input{
  width: 100%;
}




/* CARD RESERVAS */

.rooms__container{
  display: flex;
}


.card__image{
  width: 100%;
  height: 200px;
}

.card__image img{
  width: 100%;
  height: 200px;
  /* border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; */
}

.card__reserve{
  padding: 0 ;
  width: 350px;
}


.card__image img{
  width: 100%;
  height: 100%;
}

.card__body-reserve {
  padding: 2rem;
}

.card__body-head{
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.card__body-information{
  margin-top: 2rem;
}

.card__head-title{
  text-align: left;
}

.card__head-price{
  text-align: right;
}




.checkbox{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.card__button{
  margin-top: 2rem;
}




.list-package{
  margin: 1rem;
}
.list-package li{
  margin: 1rem;
  display: inline-block;
}

.list-package li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.filter__header{
  margin-top: 4rem;
  padding: 2rem;
 
}

.filters-container{
  display: flex;
  justify-content: space-between;
}


@media (max-width: 700px){
  .form{
    height: auto;
  }

  .form-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
  }

  .form-input {
    width: 95%;
    margin-bottom: 1rem;

  }

  .form-row-checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
  }

  .form__checkbox-list{
    width: 100%;
    margin-bottom: 1rem;

  }

  #id_package{
    width: 95%;
  }

  #extras{
    width: 95%;
  }


  #description{
    margin-left: 0;
  }

  #button{
    margin-top: 1rem;
    justify-content: center;
  }

}