@import url('../../general.css');
@import url('../../componets.css');

main{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.checkout__contianer{
  width: 50%;
  border: 2px solid;

}

.container__info-data{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.checkout__contianer-info{
  margin-bottom: 2rem;
}

.checkout__contianer-extras{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.check-in{
  display: flex;
  align-items: center;
  width: 40%;
}

.check-out{
  display: flex;
  align-items: center;
  width: 40%;

}

.radio-option{
  width: 50%;
  margin-left: 2rem;
}

.checkout__contianer-total{
  margin-top: 4rem;
}

.check__box-container{
  display: flex;
  justify-content: space-around;
}

.check__box-container label{
  margin-top: 1rem;
}

.total{
  margin-top: 4rem;
  text-align: right;
}

.total h2{
  margin-bottom: 2rem;
}


.container__info-row{
  font-weight: 900;
}

.container__info-row span{
  font-weight: 200;
}



@media (max-width: 600px) {
  .main-nav__item {
    display: none;
  }
  .main-header__brand{
    display: none;
  }
  .main-nav__item--cta{
    display: block;
  }
  .toggle-button{
    display: inline-block;
  }
  .mobile-nav__item a {
    color: black;
  }
  .mobile-button a {
    color: var(--shadow-light-blue);
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  .container__info-data{
    justify-content: center;
  }
  .container__info-row{
    margin-bottom: 1rem;
  }

  .checkout__contianer-extras{
    display: block;
    text-align: center;
  }
  .check-in{
    width: 100%;
    border-bottom: 2px solid;
  }

  .check-out{
    width: 100%;
  }

}

