@import url('../../../general.css');

table{
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c7e4f4;
}

thead{
  background: var(--primary-color);
  color: var(--shadow-light-blue);
  height: 3rem;
  font-size: var(--normal-text);

}

thead tr td{
  text-align: center;
}

.table{
  border: 1px solid lightblue;
}

#total{
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
  font-size: var(--normal-text);
  font-weight: 700;
}

#footer{
  border-top: 1px solid lightblue;
  font-size:var(--normal-text);
  font-weight: 700;
}